<nav class="navbar navbar-expand-lg navbar navbar-dark">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02"
      aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav mr-auto">
        <!--
          <li class="nav-item">
            <a class="nav-link text-white" routerLink="/patient-dashboard">Home</a>
          </li>
          -->
        <li class="nav-item">
          <a class="nav-link text-white" routerLink="/patient-book-appoinment">BOOK APPOINTMENT</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" routerLink="/patient-view-appoinmentstatus">APPOINTMENT STATUS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" routerLink="/patient-update-patient">UPDATE DETAILS</a>
        </li>
      </ul>
      <ul class="navbar-nav ms-auto" style="margin-right: 30px;">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false" routerLink="/login">
            <img src={{LoginUserImage}} style="width: 40px;height:40px;">
            PATIENT/{{LoginUserName}}
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>
              <a class="dropdown-item" routerLink="/login">Logout</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>