#update-patient-title{
  font-family: Roboto-Bold!important;
  color: white;
}

.btn-color{
    background-color: #0e1c36;
    color: #fff;
  }
  
  .cardbody-color{
    background-color: #ebf2fa;
  }
  
  a{
    text-decoration: none;
  }