<app-patient-navbar></app-patient-navbar>
<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h2 class="text-center" id="update-patient-title">Update Details</h2>
      <div class="card my-5" style="overflow-y: auto !important; max-height: 700px !important;">
        <form class="card-body cardbody-color p-lg-5" [formGroup]="updatepatientForm" (ngSubmit)="onSubmit()">
          <div class="mb-3">
            <label for="InputUserName">Username</label>
            <input type="text" class="form-control" id="InputUserName" placeholder="Enter UserName" name="userName"
              formControlName="userName" readonly>
          </div>
          <div class="mb-3">
            <label for="InputPassword">Password</label>
            <input type="password" class="form-control" id="InputPassword" placeholder="Password" name="password"
              formControlName="password">
            <div
              *ngIf="updatepatientForm.get('password')?.hasError('required') && updatepatientForm.get('password')?.touched">
              <small class="text-danger">Password is required.</small>
            </div>
          </div>
          <div class="mb-3">
            <label for="InputName">Name</label>
            <input type="text" class="form-control" id="InputName" placeholder="Name" name="name"
              formControlName="name">
            <div *ngIf="updatepatientForm.get('name')?.hasError('required') && updatepatientForm.get('name')?.touched">
              <small class="text-danger">Name is required.</small>
            </div>
            <div
              *ngIf="updatepatientForm.get('name')?.hasError('invalidName') && updatepatientForm.get('name')?.touched">
              <small class="text-danger">Invalid name. Only letters and spaces are allowed.</small>
            </div>
          </div>
          <div class="mb-3">
            <label for="InputHeight">Height</label>
            <input type="number" step="0.01" class="form-control" id="InputHeight" placeholder="Height" name="height"
              formControlName="height">
            <div
              *ngIf="updatepatientForm.get('height')?.hasError('required') && updatepatientForm.get('height')?.touched">
              <small class="text-danger">Height is required.</small>
            </div>
          </div>
          <div class="mb-3">
            <label for="InputWeight">Weight</label>
            <input type="number" step="0.01" class="form-control" id="InputWeight" placeholder="Weight" name="weight"
              formControlName="weight">
            <div
              *ngIf="updatepatientForm.get('weight')?.hasError('required') && updatepatientForm.get('weight')?.touched">
              <small class="text-danger">Weight is required.</small>
            </div>
          </div>
          <div class="mb-3">
            <label for="InputPhoneNumber">Phone Number</label>
            <input type="text" class="form-control" id="InputPhoneNumber" placeholder="Phone Number" name="phoneNumber"
              formControlName="phoneNumber">
            <div
              *ngIf="updatepatientForm.get('phoneNumber')?.hasError('required') && updatepatientForm.get('phoneNumber')?.touched">
              <small class="text-danger">phoneNumber is required.</small>
            </div>
            <div
              *ngIf="updatepatientForm.get('phoneNumber')?.hasError('PhoneNumber') && updatepatientForm.get('phoneNumber')?.touched">
              <small class="text-danger">Invalid Indian phone number.</small>
            </div>
          </div>
          <div class="mb-3">
            <label for="InputAddress">Address</label>
            <textarea class="form-control" id="InputAddress" rows="3" name="address"
              formControlName="address"></textarea>
            <div
              *ngIf="updatepatientForm.get('address')?.hasError('required') && updatepatientForm.get('address')?.touched">
              <small class="text-danger">Address is required.</small>
            </div>
          </div>
          <div class="mb-3">
            <label for="InputImage">Image</label>
            <fieldset class="mb-3">
              <div class="custom-file fileInputProfileWrap">
                <div class="row col-md-12">
                  <input type="file" (change)="CreateBase64String($event)" class="fileInputProfile form-control">
                </div>
                <div class="img-space">
                  <ng-container *ngIf="isImageSaved;">
                    <img [src]="cardImageBase64" style="width: 100px;height:100px;" />
                  </ng-container>
                </div>
              </div>
            </fieldset>
          </div>
          <div class="mb-3" *ngIf="false">
            <label for="InputUpdatedBy">Updated By</label>
            <input type="text" class="form-control" id="InputUpdatedBy" placeholder="Updated By" name="updatedBy"
              formControlName="updatedBy">
          </div>
          <div class="text-center">
            <br><button class="btn btn-color px-5 mb-5 w-100" type="submit">Update</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>