/****** Object:  StoredProcedure [dbo].[SPS_State]    Script Date: 08-04-2024 21:47:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[SPS_State]
AS
Begin
Select * from state;
END
GO
