#container{
    margin-top: 10px;
}

#container-appointmentList-message{
    margin-top: 10px;   
}

#container-appointmentList-1{
    margin-top: 10px;
}

#container-appointmentList-2{
    padding-top: 10px;
}


#appoinment-null-error-message{
    color: white; 
    font-family: Roboto-BoldItalic!important;
    font-size: 20px;
}