<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-12">
      <form class="p-4">
        <div class="mb-3">
          <label for="InputStatus">Appoinment Status</label>
          <select class="form-select mb-3" aria-label=".form-select-lg example" [(ngModel)]="status" name="status">
            <option value="" disabled selected>Select Status</option>
            <option value="{{ enumStatus.Approved}}">Approve</option>
            <option value="{{ enumStatus.Denied}}">Deny</option>
          </select>
        </div>
        <div class="text-center">
          <button class="btn btn-color px-5 mb-5 w-100" (click)="onSubmit()">Update</button>
        </div>
      </form>
    </div>
  </div>
</div>