/* #image-container{
  background-image: url('/assets/images/doctor-6497496.jpg');
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9999;
} */

#project-titile{
  color: white;
  font-family: Roboto-Bold;
  font-size: 25px;
  letter-spacing: 3px;
}
.btn-color{
    background-color: #0e1c36;
    color: #fff;
    
  }
  
  .profile-image-pic{
    height: 200px;
    width: 200px;
    object-fit: cover;
  }
  
  .cardbody-color{
    background-color: #ebf2fa;
  }
  
  a{
    text-decoration: none;
  }
  