<router-outlet></router-outlet>
<div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <h2 class="text-center text-dark mt-5">Doctor Appoinment System</h2>
        <div class="card my-5">

          <form class="card-body cardbody-color p-lg-5">
            <!--
            <div class="text-center">
              <img src="" class="img-fluid profile-image-pic img-thumbnail rounded-circle my-3"
                width="200px" alt="profile">
            </div>
            -->
            <div class="mb-3">
              <input type="text" class="form-control" id="username" [(ngModel)]="username" name="username"  placeholder="Username">
            </div>
            <div class="mb-3">
              <input type="password" class="form-control" id="password" [(ngModel)]="password" name="password" placeholder="Password">
            </div>
            <div class="mb-3">
                <select class="form-select mb-3" aria-label=".form-select-lg example" [(ngModel)]="user" name="userType" >
                    <option value="" disabled selected>Select User</option>
                    <option value="Admin">Admin</option>
                    <option value="Doctor">Doctor</option>
                    <option value="Patient">Patient</option>
                </select>
            </div>              
            <div class="text-center">
                <button class="btn btn-color px-5 mb-5 w-100" (click)="onSubmit()">Login</button>
            </div>
            <div id="notregistered" class="form-text text-center mb-5 text-dark">Not Registered? 
                <a routerLink="/patient-register" class="text-dark fw-bold"> Create an Account</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>