.btn-color{
    background-color: #0e1c36;
    color: #fff;
    
  }
  
  .cardbody-color{
    background-color: #ebf2fa;
  }
  
  a{
    text-decoration: none;
  }

  #update-availability-title{
    color: white;
    font-family: Roboto-Bold!important;
  }