<app-doctor-navbar></app-doctor-navbar>

<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h2 class="text-center text-dark mt-5">Update Availability</h2>
      <div class="card my-5">
        <form class="card-body cardbody-color p-lg-5" [formGroup]="bookappoinmentForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="InputDate">Date</label>
            <input type="date" class="form-control" id="InputDate" name="date" formControlName="date">
            <div
              *ngIf="bookappoinmentForm.get('date')?.hasError('required') && bookappoinmentForm.get('date')?.touched">
              <small class="text-danger">Date is required.</small>
            </div>
          </div>
          <div class="form-group">
            <label for="InputStartTime">Start Time</label>
            <input type="time" class="form-control" id="InputStartTime" name="startTime" formControlName="startTime">
            <div
              *ngIf="bookappoinmentForm.get('startTime')?.hasError('required') && bookappoinmentForm.get('startTime')?.touched">
              <small class="text-danger">Start Time is required.</small>
            </div>
          </div>
          <div class="form-group">
            <label for="InputEndTime">End Time</label>
            <input type="time" class="form-control" id="InputEndTime" name="endTime" formControlName="endTime">
            <div
              *ngIf="bookappoinmentForm.get('endTime')?.hasError('required') && bookappoinmentForm.get('endTime')?.touched">
              <small class="text-danger">End Time is required.</small>
            </div>
          </div>
          <div class="form-group text-center">
            <br><button type="submit" class="btn btn-color px-5 mb-5 w-100">Update Availability</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>