.btn-color{
    background-color: #0e1c36;
    color: #fff;
    
  }
  
  .cardbody-color{
    background-color: #ebf2fa;
  }
  
  a{
    text-decoration: none;
  }

  #doctor-image{
    width: 100px;
    height:100px;
  }

  